.bottom-banner {
    bottom: 0;
    margin-top: 100px;
}

.social {
    text-align: center;
    margin-right: 600px;
    margin-bottom: 20px;
}

.social a {
    text-decoration: none;
}

.social img {
    max-width: 25px;
    max-height: 25px;
}

.social h4 {
    margin-bottom: 10px;
    margin-top: 17px;
}

#inst:hover {
    max-width: 26px;
    max-height: 26px;
    background-color: #af2c9d3d;
    border-radius: 5px;
}

#tik:hover {
    max-width: 26px;
    max-height: 26px;
    background-color: #00000050;
    border-radius: 5px;
}

#face:hover {
    max-width: 26px;
    max-height: 26px;
    background-color: #00aeff62;
    border-radius: 5px;
}

/* for partners */

.info {
    background-color: #C0C0C0;
    height: 98px;
    max-width: 1440px;
    margin-top: 20px;
    min-width: 1440px;
    text-align: center;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
}

.partners {
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding-left: 4px;
    padding-right: 10px;
    padding-top: 10px;
}

.partners img {
    max-width: 76px;
    max-height: 35px;
}

.for-partners {
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding-left: 4px;
    padding-right: 10px;
    padding-top: 10px;
}

.location {
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    max-width: 190px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
}

.support {
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}

.small {
    font-size: small;
}

@media (max-width:768px) {
    .partners {
        padding-left: 10%;
    }
}

@media (max-width:320px) {
    .partners {
        padding-left: 0px ;
    }

    .support {
        padding-left: 0;
        padding-right: 120px;
    }
}

body {
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Zen Dots', cursive;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    width: 1440px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 4px 5px rgba(0, 0, 20, 0.205);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0EEEE;
    z-index: 3;
}

.logo {
    max-width: 60px;
    max-height: 60px;
}

.logo2 {
    max-width: 60px;
    max-height: 60px;
    display: none;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.header_menu ul {
    padding: 0;
}

.content {
    margin-top: 100px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 auto;
}

.header_list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.header_list a {
    text-decoration: none;
    color: black;
}

.header_list li {
    list-style: none;
    margin: 17px;
}

.header_burger {
    display: none;
}

@media (max-width:768px) {
    .header_burger {
        display: flex;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 10px;
    }

    body.lock {
        overflow: hidden;
    }

    .logo2 {
        display: block;
        z-index: 100;
        max-height: 70px;
        max-width: 70px;
        position: relative;
        justify-content: left;
        margin-left: 10px;
    }

    .logo {
        display: none;
    }

    .header_burger:before,
    .header_burger::after {
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header_burger span {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgb(0, 0, 0);
        height: 2px;
        top: 9px;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_body {
        justify-content: space-between;
        height: 70px;
    }

    .header_menu.active {
        position: fixed;
        left: 0;
        top: 0%;
        width: 100%;
        height: auto;
        background-color: #dddddd;
        padding: 70px 0px 0px 0px;
    }

    .header_menu {
        position: fixed;
        left: 0;
        top: -110%;
        width: 100%;
        height: auto;
        background-color: #dddddd;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        text-align: center;
        font-size: 50px;
        background-color: rgba(255, 255, 255, 0.048);
    }
}
